body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#eef1f3, #dddddd);
}
.search-field {
  border: none;
  padding: 5px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 60px;
}
#search-btn{
  color: rgb(107, 97, 97);
  background-color: rgba(221, 86, 62, 0.829);
  color: bisque;
  font-size: 16px;
  padding: 0 25px 0 25px;
}

#search-btn:hover{
  color: white;
  background-color: rgba(58, 8, 58, 0.788);
}

.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  width: 400px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin-left: 40px;
  align-items: flex-start;
}

.product{
  margin-top: 30px;
}

#single-product {
  background-image: linear-gradient(150deg, transparent, rgba(255, 255, 255, 0.575),  rgba(150, 31, 31, 0.459));
  border: none;
  border-radius: 3px;
  height: 700px;
  /* border: 5px solid black; */
  padding: 15px;
  transition: 0.4s;
  margin: 5px;
}
#single-product:hover {
  box-shadow: 10px 7px 7px gray;
  border-radius: 10px;
  /* border: 1px solid rgb(107, 155, 155); */
}

#product-title{
  color: rgba(109, 35, 72, 0.877);
  font-weight: 500;
}

#list{
  background-image: linear-gradient(45deg, orange, transparent);
}
.cart {
  background-image: linear-gradient(rgba(255, 0, 0, 0.192), rgba(255, 99, 71, 0.318));
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
